Page {
  background-color: aliceblue;
  font-size: 17;
}

button {
  margin: 10;
  padding: 10;
  background-color: transparent;
}
button:active {
  background-color: lightslategray;
  color: white;
}

ActionBar {
  text-align: center;
}
